In [3]:
#pymysql은 mysql을 파이썬에서 실행 가능하게 해주는 라이브러리
import pymysql
import pandas as pd

In [4]:
# pymysql 모듈의 connect라는 method 사용하여 mysql에 연결
# 호스트명, 포트, 로그임, 암호, 접속할 db 등을 파라미터로 지정
_db = pymysql.connect(
    user = "root",
    passwd = "2369",
    host = "localhost",
    db = "ubion",
)
# charset='utf8' 데이터 가져올 때 한글 깨질 수 있으므로 넣는 설정

In [5]:
# sql 사용 시 일반적으로 결과 table 형태로 반환
# 커서는 이러한 결과 집합을 한 행씩 처리할 수 있도록 함
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [6]:
sql = "SELECT * FROM user_info"

cursor.execute(sql)
#execute는 sql문장을 db서버에 전송해줌
result = cursor.fetchall()
#fetch는 결과 집합에서 행 반환하는 역할
print(result)

[{'ID': 'test', 'password': '1111', 'name': '고길동', 'phone': '01012345678', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20220310'}, {'ID': 'test2', 'password': '5678', 'name': '둘리', 'phone': '01098765432', 'ads': '북극 어딘가', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test3', 'password': '0123', 'name': '마이콜', 'phone': '01023483282', 'ads': '고길동 옆집', 'gender': 1, 'age': 28, 'regit_date': '20220310'}, {'ID': 'test4', 'password': '2342', 'name': '또치', 'phone': '01098372345', 'ads': '동물원', 'gender': 2, 'age': 4, 'regit_date': '20220310'}, {'ID': 'test5', 'password': '5555', 'name': '도우너', 'phone': '01012345678', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'test6', 'password': '2233', 'name': '희동이', 'phone': '01029293842', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 1, 'regit_date': '20220311'}]

In [7]:
#dict 형태이기 때문에 KEY값이 자동으로 COLUMN에 들어감
dt = pd.DataFrame(result)
dt

      ID password name        phone          ads  gender  age regit_date
0   test     1111  고길동  01012345678  서울시 강북구 쌍문동       1   45   20220310
1  test2     5678   둘리  01098765432       북극 어딘가       1   10   20220310
2  test3     0123  마이콜  01023483282       고길동 옆집       1   28   20220310
3  test4     2342   또치  01098372345          동물원       2    4   20220310
4  test5     5555  도우너  01012345678         깐따삐아       1   10   20220310
5  test6     2233  희동이  01029293842  서울시 강북구 쌍문동       1    1   20220311

In [8]:
#sql에서는 str밖에 안씀
sql = "insert into user_info values(%s, %s, %s, %s, %s, %s, %s, %s)"
values = ["test4", "2342", "또치", "01098372345", "동물원", 2, 4, "20220310"]

cursor.execute(sql, values)
_db.commit()
#삽입, 갱신, 삭제 등의 DML문장을 실행하는 경우, INSERT/UPDATE/DELETE 후 Connection 객체의 commit() 메서드 사용하여 데이터 확정

IntegrityError: (1062, "Duplicate entry 'test4' for key 'user_info.PRIMARY'")

In [ ]:
_ID = input("ID: ")
pw = input("password : ")
name = input("name : ")
phone = input("phone : ")
ads = input("address : ")
gender = int(input("gender : "))
age = int(input("age : "))
regit_date = input("regit_date : ")

input_list = [_ID, pw, name, phone, ads, gender, age, regit_date]

cursor.execute(sql, input_list)
_db.commit()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x = int(input("x : "))

type(x)

int

In [ ]:
update_sql = """
                UPDATE user_info 
                SET phone = "01012345678"
                WHERE name = "도우너"
             """

cursor.execute(update_sql)
_db.commit()