In [15]:
import pymysql

In [16]:
sample_db = pymysql.connect(
    user = "root",
    passwd = "2369",
    host = "localhost",
    db = "ubion",
    charset = "utf8"
    )

In [17]:
cursor = sample_db.cursor(pymysql.cursors.DictCursor)

In [10]:
sql = "SELECT * FROM base1"

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'post_id': 'test', 'password': '1234'}, {'post_id': 'test6', 'password': '1234'}]

In [9]:
sql = "INSERT INTO base1 values ('test6','1234')"

cursor.execute(sql)

1

In [20]:
sql = "INSERT INTO base1 values ('test4','1234')"

cursor.execute(sql)

1

In [21]:
sql = "INSERT INTO base1 values ('test5','1234')"

cursor.execute(sql)

1

In [22]:
sql = "INSERT INTO base1 values ('test2','1234')"

cursor.execute(sql)

1

In [23]:
sql = "INSERT INTO base1 values ('test3','1234')"

cursor.execute(sql)

1

In [12]:
sample_db.commit()
sample_db.close()

In [18]:
update_sql = "UPDATE base1 SET post_id = 'test1' where post_id = 'test'"

cursor.execute(update_sql)

1

In [25]:
select_sql= "SELECT * FROM base1 ORDER BY post_id DESC"

cursor.execute(select_sql)
result = cursor.fetchall()
print(result)

[{'post_id': 'test6', 'password': '1234'}, {'post_id': 'test5', 'password': '1234'}, {'post_id': 'test4', 'password': '1234'}, {'post_id': 'test3', 'password': '1234'}, {'post_id': 'test2', 'password': '1234'}, {'post_id': 'test1', 'password': '1234'}, {'post_id': '', 'password': '2345'}]

In [29]:
select_sql= "SELECT base1.post_id, base1.password, base2.phone FROM base1 LEFT JOIN base2 ON base1.post_id = base2.post_id"

cursor.execute(select_sql)
result = cursor.fetchall()
print(result)

[{'post_id': '', 'password': '2345', 'phone': None}, {'post_id': 'test1', 'password': '1234', 'phone': None}, {'post_id': 'test2', 'password': '1234', 'phone': None}, {'post_id': 'test3', 'password': '1234', 'phone': None}, {'post_id': 'test4', 'password': '1234', 'phone': None}, {'post_id': 'test5', 'password': '1234', 'phone': None}, {'post_id': 'test6', 'password': '1234', 'phone': None}]

In [30]:
select_sql= 'SELECT password, COUNT(password) as cnt FROM base1 GROUP BY password'

cursor.execute(select_sql)
result = cursor.fetchall()
print(result)

[{'password': '2345', 'cnt': 1}, {'password': '1234', 'cnt': 6}]

In [ ]:
# INT는 옵션으로 AUTO_INCREMENT 지정 가능 -> 데이터가 입력될 때 자동으로 값이 1개씩 증가되는 컬럼의 속성
# 부동 소수점 타입 -> FLOAT, DOUBLE
# FLOAT 4바이트 DOUBLE 8바이트
# 더 정확한 수를 위해서는 DOUBLE 사용
# 문자열 데이터 저장 -> CHAR, VARCHAR
# CHAR는 문자열 길이가 한번 설정되면 그대로 고정
# VARCHAR는 문자열을 길이가 고정되지 않는 가변 길이의 문자열로 다룸
# TEXT는 길이 제한 명시하지 않음, 기본값 지정 불가

In [ ]:
# PRIMARY KEY: 기본키로 지정(테이블 당 1개 필수조건) 
# -> 중복없는 유일한 값을 가져야함 
# -> NULL값을 가질 수 없음 
# -> 변경될 수 있는 경우가 없어야함
# FOREIGN KEY: 다른 테이블과의 연결고리